:host {
  display: flex;
  flex-direction: column;

  ::-webkit-scrollbar {
    width: 4px;
  }

  .mat-icon {
    margin: 0 10px 3px 0;
    vertical-align: middle;
  }

  .mdc-list {
    padding: 0;
  }

  .publish-actions {
    padding: 10px 10px;
    text-align: right;
  }

  .category-item {
    opacity: 0.65;
    .mat-list-item-content {
      display: flex;
    }
    .edit-icon,
    .delete-icon {
      margin: 0 0 0 10px;
      opacity: 0;
      &:hover {
        opacity: 1 !important;
      }
    }
    &.workshop-menu-nav-item-selected {
      opacity: 1;
      color: var(--mat-sys-on-primary-container);
      background-color: var(--mat-sys-primary-container);
    }
    &:hover {
      opacity: 1;
      .edit-icon,
      .delete-icon {
        opacity: 0.45;
      }
    }
  }
}
