<h3>Workshop Lists</h3>
<div
  cdkDropList
  class="category-list"
  (cdkDropListDropped)="onDrop($event)"
>
  @for (workshop of workshops(); track workshop) {
  <a
    cdkDrag
    class="category-item"
    [routerLink]="
      '../' +
      workshop.workshopDocumentGroupId +
      '/' +
      workshop.workshopDocuments[0]._id
    "
    routerLinkActive="workshop-menu-nav-item-selected"
  >
    <div class="mat-list-item-content">
      <mat-icon>drag_indicator</mat-icon>
      {{ workshop.name | truncate : 18 : '...' }}
      <div class="flex-spacer"></div>
      <mat-icon
        class="edit-icon"
        (click)="editWorkshop($event, workshop)"
        >edit</mat-icon
      >
      <mat-icon
        class="delete-icon"
        (click)="deleteWorkshop($event, workshop)"
        >delete</mat-icon
      >
    </div>
  </a>
  }
</div>
