<h3>Workshop Lists</h3>
<div
  cdkDropList
  class="category-list"
  (cdkDropListDropped)="onDrop($event)"
>
  @for (workshop of workshops(); track workshop) {
  <div
    cdkDrag
    class="category-item"
  >
    <div class="mat-list-item-content">
      <mat-icon>drag_indicator</mat-icon>
      <a
        class="category-link"
        [routerLink]="
          '../' +
          workshop.workshopDocumentGroupId +
          '/' +
          workshop.workshopDocuments[0]._id
        "
        routerLinkActive="workshop-menu-nav-item-selected"
      >
        {{ workshop.name | truncate : 18 : '...' }}
      </a>
    </div>
  </div>
  }
</div>
