:host {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.3rem;
    font-weight: 100;
    margin: 0.5rem;
    padding: 0.5rem;
    color: var(--mat-sys-primary);
    border-bottom: 1px solid var(--mat-sys-primary);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  .mat-icon {
    margin: 0 10px 3px 0;
    vertical-align: middle;
  }

  .page-item {
    text-decoration: none;
    opacity: 0.65;
    color: var(--mat-button-tonal-on-container-color),
      var(--mat-sys-secondary-on-container);
    border-radius: var(
      --mat-button-tonal-container-shape,
      var(--mat-sys-corner-full)
    );

    .edit-icon,
    .delete-icon {
      margin: 0 0 0 10px;
      opacity: 0;
      &:hover {
        opacity: 1 !important;
      }
    }

    &.workshop-menu-nav-item-selected {
      opacity: 1;
      color: var(--mat-sys-on-primary-container);
      background-color: var(--mat-sys-primary-container);
    }
    &:hover {
      opacity: 1;
      background-color: var(
        --mat-button-tonal-container-color,
        var(--mat-sys-secondary-container)
      );
      .edit-icon,
      .delete-icon {
        opacity: 0.45;
      }
    }
  }

  .mat-list-item-content {
    display: flex;
    margin: 8px 12px;
    align-items: center;
  }

  .page-list {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 1rem;
  }
}
