<h3>Page List</h3>
<div
  cdkDropList
  class="page-list"
  (cdkDropListDropped)="onDrop($event)"
>
  @for (document of documents(); track document) {
  <a
    cdkDrag
    class="page-item"
    [routerLink]="
      '../../' + workshopDocumentGroupId() + '/' + document._id
    "
    routerLinkActive="workshop-menu-nav-item-selected"
  >
    <div class="mat-list-item-content">
      <mat-icon>drag_indicator</mat-icon>
      {{ document.name }}
      <div class="flex-spacer"></div>
      <mat-icon class="edit-icon" (click)="editPage($event, document)"
        >edit</mat-icon
      >
      <mat-icon
        class="delete-icon"
        (click)="deletePage($event, document)"
        >delete</mat-icon
      >
    </div>
  </a>
  }
</div>
